.navbar-default {
    background-color: #000000;
    border-color: #262626;
}
.navbar-default .navbar-brand {
    color: #00bf00;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #00ff00;
}
.navbar-default .navbar-nav > li > a {
    color: #00bf00;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #00ff00;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #00ff00;
    background-color: #262626;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #00ff00;
    background-color: #262626;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #00bf00;
    border-bottom-color: #00bf00;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #00ff00;
    border-bottom-color: #00ff00;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #00ff00;
    border-bottom-color: #00ff00;
}
.navbar-default .navbar-toggle {
    border-color: #262626;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #262626;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #00bf00;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #00bf00;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #00ff00;
    }
}

.dropdown-menu {
	background-color: #000000;
	border-color: #262626;
}
.dropdown-menu button {
	background-color: #00ff00;
	border-color: #00ff00;
	color: #262626;
}
.dropdown-menu button:hover {
	background-color: #00ff00;
	border-color: #00ff00;
	color: #262626;	color: #262626;
}

.dropdown-menu a {
	color: #00ff00;
}
