/* CSS declarations go here */
body { background: black;
       color: lime;
       padding-top: 70px;
       font-family: VT323, monospace;
       font-size: 16px;
     }

h1, h2, h3 {
       font-family: VT323, monospace;
}
