#browseParts {
    width: 700px;
    margin:0 auto;
    }
#viewerLeft {
    float: left;
    width: 350px;
   } 
#viewerRight { 
   width: 150px;
	float: right;

   } 
#right {
	float: right;
	width: 350px;
}
#partsList {
    width: 200px;
float: right;
position: relative;
    text-align: center;
    }

#partsList a {
    color: lime;
}
