#browseParts {
    width: 800px;
    margin:0 auto;
    }
#bigViewer {
    float: left;
    width: 510px;
   } 
.partsList {
    width: 200px;
    text-align: center;
    margin: 0 auto;
    float:right;
    }

#parts {
    height: 500px;
}

.partsList a {
    color: lime;
}


