input {
  border: 1px solid #00ff00;
  background: black;
  width: 100px;
  color: lime;
  }

.invalid {
    box-shadow: 0px 0px 2px 2px red;
}

select {
  border: 1px solid #00ff00;
  background: #00a300;
  width: 100px;
  color: black;
  }

*:-webkit-input-placeholder {
    color: green;
}

*:-moz-placeholder {
    color: green;
}

#canvas {
    width: 650px;
    margin: 0 auto;
}
