#game {
    width: 75%;
    min-width: 955px;
    margin: 0 auto;
    text-align: center;
    color: lime;
	}
input {
  border: 1px solid #00ff00;
  background: black;
  width: 100px;
  color: lime;
  }

select {
  border: 1px solid #00ff00;
  background: #00a300;
  width: 100px;
  color: black;
  }

*::-webkit-input-placeholder {
    color: green;
}

*:-moz-placeholder {
    color: green;
}

#canvas {
    margin: 0 auto;
    width: 650px;
    float: left;
}

#instruction {
    width: 300px;
    height: 650px;
    float: right;
    margin: 0 auto;
    border: 1px solid black;
}
