.navbar-default {
    background-color: #000000;
    border-color: #262626;
}
.navbar-default .navbar-brand {
    color: #00bf00;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #00ff00;
}
.navbar-default .navbar-nav > li > a {
    color: #00bf00;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #00ff00;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #00ff00;
    background-color: #262626;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #00ff00;
    background-color: #262626;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #00bf00;
    border-bottom-color: #00bf00;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #00ff00;
    border-bottom-color: #00ff00;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #00ff00;
    border-bottom-color: #00ff00;
}
.navbar-default .navbar-toggle {
    border-color: #262626;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #262626;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #00bf00;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #00bf00;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #00ff00;
    }
}

.dropdown-menu {
	background-color: #000000;
	border-color: #262626;
}
.dropdown-menu button {
	background-color: lime;
	border-color: #00ff00;
	color: #262626;
}
.dropdown-menu button:hover {
	background-color: black;
	border-color: #00ff00;
	color: lime;
}
.dropdown-menu button:active {
	background-color: black;
	border-color: #00ff00;
	color: lime;
}

.dropdown-menu button:focus {
	background-color: black;
	border-color: #00ff00;
	color: lime;
}

.dropdown-menu a {
	color: #00ff00;
}
.dropdown-menu > li > a {
	color: #00bf00;
}
.dropdown-menu > li > a:hover {
	color: lime;
	background-color: black;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
color: lime;
background-color: #262626;
}
.dropdown-menu .form-control:focus {
	border-color: #000000;
	-webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset, rgba(0, 128, 0, 0.6) 0px 0px 8px 0px;
}

.dropdown-menu input {
	background: #262626;
	color: lime;
	border-color: black;
}
.alert-danger {
color: lime;
background-color: #262626;
border-color: black;
}

#login-username::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: green;
}
#login-username:-moz-placeholder, textarea:-moz-placeholder {
  color: green;
}
#login-password::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: green;
}
#login-password:-moz-placeholder, textarea:-moz-placeholder {
  color: green;
}

#login-old-password::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: green;
}
#login-old-password:-moz-placeholder, textarea:-moz-placeholder {
  color: green;
}

#login-password-again::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: green;
}
#login-password-again:-moz-placeholder, textarea:-moz-placeholder {
  color: green;
}
